::ng-deep {
    .mat-form-field {
      display: block !important;
      height: calc(1.5em + 1rem + 0px);
      padding: 0.65rem 1rem;
      border: 1px solid #e4e6ef;
      border-radius: 0.42rem;
    }

    .mat-form-field-flex {
      align-items: flex-start !important;
    }
    .mat-form-field-infix {
      display: contents !important;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 800;
  }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #4680ff;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    padding: 0.5rem 3rem;
    margin-top: 0.2rem;
    border-radius: 5px;
  }

  .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  label {
    font-weight: bolder !IMPORTANT;
    font-size: 15px !IMPORTANT;
}