.controle-buttons{
    border-top: 1px solid #ebedf2;
}

.colum-head{
    background: #2288d3 !important;
    color: #fff;
}

.subject_weeks{
    border: 1px solid #f4f5f8;
    h3{
        background-color: #f4f5f8;
    }
}