.relatives {
  padding-top: 2rem;
  label {
    font-weight: 800 !important;
    font-size: 14px !important;
  }

  .form-control {
    height: calc(1.5em + 1rem + 0px);
    padding: 0.65rem 1rem;
  }

  textarea#note_en,
  textarea#note_ar {
    width: 100%;
    border: 1px solid #ceced0;
    height: 10rem;
  }

  ::ng-deep {
    .iti.iti--allow-dropdown {
      width: 100%;

      input {
        height: calc(1.5em + 1rem + 0px);
        padding: 0.65rem 1rem;
        border-radius: 4px;
        border: 1px solid #e5e5e6;
        width: 100%;
      }
    }
    ::ng-deep {
      .mat-form-field {
        display: block !important;
        height: calc(1.5em + 1rem + 0px);
        padding: 0.65rem 1rem;
        border: 1px solid #e4e6ef;
        border-radius: 0.42rem;
      }

      .mat-form-field-flex {
        align-items: flex-start !important;
      }
      .mat-form-field-infix {
        display: contents !important;
      }
      .mat-checkbox-layout .mat-checkbox-label {
        font-weight: 800;
      }
    }
  }
}
