.dialog-head {
  padding: 8px 20px;
  color: #fff;
  //   font-family: "Tajawal-Bold";
  font-size: 15px;
}
.mat-dialog-content {
  //   font-family: "Tajawal-Bold";
  text-align: center;
  font-size: 18px;
}
