.my-icon {
  ::ng-deep {
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: #0488d3;
      }
    }
  }
}

:host-context(html[dir="rtl"]) {
  .custom-control-label::before {
    right: -1.5rem;
    left: auto;
  }

  .custom-control-label::after {
    right: -1.5rem;
    left: auto;
  }

  .company-status {
    margin-right: auto;
    margin-left: 0;
    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

:host-context(html[dir="ltr"]) {
  .change-company_arrows {
    transform: rotateY(180deg);
  }
  .custom-company_form {
    label:not(.auto-width) {
      min-width: 150px;
    }
  }
}

.custom-company_form {
  align-items: center;
  label:not(.auto-width) {
    min-width: 125px;
    margin-bottom: 1rem;
  }
  @media (max-width: 576px) {
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    .company-img img {
      margin-bottom: 10px;
    }
  }
  .remove-logo {
    @media (min-width: 992px) and (max-width: 1120px) {
      span {
        margin: 0;
        font-size: 10px;
      }
    }
  }
}

.company-status {
  margin-left: auto;
}

.company-img {
  img {
    height: 100px;
    width: 100%;
  }
  i {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover {
    i {
      opacity: 1;
    }
  }
}

.fa-copy {
  color: white;
}

.f-w {
  color: black;
  font-weight: 600;
}

.color {
  background-color: #f4433654;
}

.custom-control {
  .soon {
    max-height: 20px;
    line-height: 0px;
  }
}
