.current{
    background-color: #34bfa3;
    color: #fff;
    font-weight: bold;
}

.set-current{
    background: #eaeaea;
    color: #444;
    font-weight: bold;
}

div{
    width: 200px;
    button{
        width: 50%;
        border-radius : 30px;
    }
}