<div class="children px-4">
    <form [formGroup]="form" (submit)="Submit()">
        <div class="form-row">
            <div class="col-lg-12 d-flex justify-content-end">
                <button type="button" *ngIf="(isUserEdit || userAdd) && dataParents?.length && showAddChildren"
                (click)="addChild()" class="btn btn-primary mt-4 mr-3">{{'parent_pages.AddNewChild'
                | translate}}
            </button>
            </div>
            <!--============Start First Row===============-->
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="name_ar">{{'parent_pages.firstname_ar' | translate}} </label>
                    <span class="text-danger">*</span>
                    <input class="form-control" type="text" formControlName="name_ar" id="name_ar">
                    <ng-container *ngIf="formErrors?.name_ar">
                        <div class="text-danger" *ngFor="let error of formErrors?.name_ar">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="form-group">
                    <label for="name_en">{{'parent_pages.firstname_en' | translate}} </label>
                    <span class="text-danger">*</span>
                    <input class="form-control" type="text" formControlName="name_en" id="name_en">
                    <ng-container *ngIf="formErrors?.name_en">
                        <div class="text-danger" *ngFor="let error of formErrors?.name_en">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>


            <div class="col-lg-2 mt-2">
                <div class="input-slid" *ngIf="dataParents?.length" >
                    <i class="fas p-3 cursor-pointer" (click)="previous()" 
                        [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'fa-chevron-right' : 'fa-chevron-left'" [class.disable]="!showAddChildren"></i>
                    <p class="w-50 text-center"><span>{{currentUser}}</span> / <span>{{total}}</span></p>
                    <i class="fas p-3 cursor-pointer" 
                    (click)="next()"
                        [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'fa-chevron-left' : 'fa-chevron-right'" [class.disable]="!showAddChildren"></i>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">{{'parent_pages.contract_number' | translate}} </label>
                    <input class="form-control" type="text" appNumbersOnly name="" #identification_number id="">
                    <!-- <ng-container *ngIf="formErrors?.contract_number">
                        <div class="text-danger" *ngFor="let error of formErrors?.contract_number">
                            {{error}}</div>
                    </ng-container> -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Student_status">{{'parent_pages.Student_status' | translate}} </label>
                    <input class="form-control" type="text" formControlName="register_status" id="Student_status">
                    <ng-container *ngIf="formErrors?.register_status">
                        <div class="text-danger" *ngFor="let error of formErrors?.register_status">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="form-group">
                    <label for="relative_id">{{'parent_pages.Student_status' | translate}}</label>
                    <ng-select  labelForId="relative_id">
                    <option value="1">انتظار</option>
                    <option value="2"></option>
                    </ng-select>
                    
                    <ng-container *ngIf="formErrors?.register_status">
                        <div class="text-danger" *ngFor="let error of formErrors?.register_status">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div> -->

            <!--============End First Row===============-->

            <!--============Start second Row===============-->

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="register_date">{{'parent_pages.date_of_registration' | translate}}</label>
                    <mat-form-field floatLabel="never" class="date-form cursor-pointer" (click)="picker.open()">
                        <input dir="auto" style="cursor:none" readonly matInput [matDatepicker]="picker"
                            formControlName="register_date" id="register_date">
                        <mat-datepicker-toggle matSuffix (click)="picker.open()"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <ng-container *ngIf="formErrors?.register_date">
                        <div class="text-danger" *ngFor="let error of formErrors?.register_date">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="gender">{{'parent_pages.genter' | translate}}</label>
                    <span class="text-danger">*</span>
                    <ng-select [items]="gender" bindLabel="text" bindValue="text" formControlName="gender"
                        labelForId="gender">
                    </ng-select>
                    <ng-container *ngIf="formErrors?.gender">
                        <div class="text-danger" *ngFor="let error of formErrors?.gender">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <!-- <div class="col-lg-4 justify-content-center mt-5 d-flex align-items-center">
                <div class="form-group">
                    <mat-checkbox class="example-margin mx-5" formControlName="register_status" id="register_status"
                        [labelPosition]="labelPosition">
                        {{'parent_pages.Student_status' | translate}}
                    </mat-checkbox>
                </div>
            </div> -->

            <!-- <div class="col-lg-2 mt-5 d-flex align-items-center">
                <div class="form-group">
                    <mat-checkbox class="example-margin mx-5" formControlName="status" id="status"
                        [labelPosition]="labelPosition">
                        {{'general.status' | translate}} :
                    </mat-checkbox>
                    <ng-container *ngIf="formErrors?.status">
                        <div class="text-danger" *ngFor="let error of formErrors?.status">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div> -->


            <!--============End second Row===============-->

            <!--============Start third Row===============-->

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="relative_id">{{'parent_pages.section' | translate}}</label>
                    <ng-select [items]="" bindLabel="name" bindValue="id" labelForId="">
                    </ng-select>
                    <ng-container *ngIf="formErrors?.section">
                        <div class="text-danger" *ngFor="let error of formErrors?.section">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="relative_id">{{'parent_pages.Enrollment_class' | translate}}</label>
                    <ng-select [items]="" bindLabel="name" bindValue="id" labelForId="">
                    </ng-select>
                    <!-- <ng-container *ngIf="formErrors?.section">
                        <div class="text-danger" *ngFor="let error of formErrors?.section">
                            {{error}}</div>
                    </ng-container> -->
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="classroom_id">{{'parent_pages.class' | translate}}</label>
                    <ng-select [items]="classRooms" bindLabel="name" bindValue="id" formControlName="classroom_id"
                        labelForId="classroom_id">
                    </ng-select>
                    <ng-container *ngIf="formErrors?.classroom_id">
                        <div class="text-danger" *ngFor="let error of formErrors?.classroom_id">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="semster_id">{{'parent_pages.Semester' | translate}}</label> 
                    <ng-select [items]="semsters" bindLabel="name" bindValue="id" formControlName="semster_id"
                        labelForId="semster_id">
                    </ng-select>
                    <ng-container *ngIf="formErrors?.semster_id">
                        <div class="text-danger" *ngFor="let error of formErrors?.semster_id">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="form-group">
                    <label for="relative_id">{{'parent_pages.school_situation' | translate}}</label>
                    <ng-select [items]="" bindLabel="name" bindValue="id" labelForId="">
                    </ng-select>
                    <!-- <ng-container *ngIf="formErrors?.section">
                        <div class="text-danger" *ngFor="let error of formErrors?.section">
                            {{error}}</div>
                    </ng-container> -->
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="case_study_id">{{'parent_pages.Student_condition' | translate}}</label>
                    <ng-select [items]="caseStudies" bindLabel="name" bindValue="id" formControlName="case_study_id"
                        labelForId="case_study_id">
                    </ng-select>
                    <ng-container *ngIf="formErrors?.case_study_id">
                        <div class="text-danger" *ngFor="let error of formErrors?.case_study_id">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="form-group">
                    <label for="relative_id">{{'parent_pages.Specialization' | translate}}</label>
                    <ng-select [items]="" bindLabel="name" bindValue="id" labelForId="">
                    </ng-select>
                    <!-- <ng-container *ngIf="formErrors?.section">
                        <div class="text-danger" *ngFor="let error of formErrors?.section">
                            {{error}}</div>
                    </ng-container> -->
                </div>
            </div>

            <!--============Start fourth Row===============-->

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="phone">{{'parent_pages.cell_phone' | translate}}</label>
                    <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="['sa', 'eg']"
                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectedCountryISO]="dataParents[currentUser-1]?.phone_country || countryName" [phoneValidation]="true" name="phone" formControlName="phone"
                        inputId="phone">
                    </ngx-intl-tel-input>
                    <ng-container *ngIf="formErrors?.phone">
                        <div class="text-danger" *ngFor="let error of formErrors?.phone">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="email">{{'parent_pages.email' | translate}}</label>
                    <input class="form-control" type="email" formControlName="email" id="email">
                    <ng-container *ngIf="formErrors?.email">
                        <div class="text-danger" *ngFor="let error of formErrors?.email">
                            {{error}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="col-lg-12 d-flex justify-content-end">
                <!-- *ngIf="isUserEdit || userAdd " -->
                <button type="submit" class="btn btn-primary mr-3 mb-3" *ngIf="isUserEdit || userAdd ">{{'setting.save' |
                    translate}}</button>

                <button type="button" *ngIf="!showAddChildren" (click)="cancelAddChild()"
                    class="btn mr-3 btn-danger mb-3">
                    {{"setting.cancel" | translate}}
                </button>
            </div>

            <!--============Start fifth Row===============-->
                <div class="col-md-4 mt-3">
                    <div class="bg-color-card">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="p-5">{{'parent_pages.Subscribe' | translate}}</p>
                            </div>

                            <div class="col-lg-8 p-5 d-flex">
                                <img src="../../../../../../assets/media/imgs/bus.png" class="w-sm-auto w-75 mx-auto p-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="bg-color-card">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="p-5">{{'parent_pages.Tuition_expenses' | translate}}</p>
                            </div>

                            <div class="col-lg-8 p-5 d-flex">
                                <img src="../../../../../../assets/media/imgs/Tuition_fees.png" class="w-sm-auto w-75 mx-auto p-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-3">
                    <div class="bg-color-card">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="p-5">{{'parent_pages.contracts' | translate}}</p>
                            </div>

                            <div class="col-lg-8 p-5 d-flex">
                                <img src="../../../../../../assets/media/imgs/contract.jpg" class="w-sm-auto w-75 mx-auto p-3">
                            </div>
                        </div>
                    </div>
                </div>

            <!--============Start fifth Row===============-->

           
        </div>
    </form>
</div>
