<div class="moveDialog" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
<div class="d-flex justify-content-between align-items-center dialog-head">
    <h2 mat-dialog-title class="mb-0">
        {{data?.id ? ('general.update_semester' | translate) :
        ('general.add_semester' | translate) }}
    </h2>
   <button 
  type="button"
  (click)="toggleLanguage()"
  class="btn btn-warning">{{language}}</button>
    <i class="fas fa-times" mat-dialog-close></i>
</div>


<mat-dialog-content class="mat-typography">
    <ng-container>
        <form #form="ngForm">
            <div class="form-row">
                <div class="col-lg-6 mb-4" *ngIf="nameofArabic">
                    <div class="form-group mb-0">
                        <label class="font-weight-bolder" for="name_ar">
                            {{'general.name_ar' | translate}} :
                        </label>
                        <span class="text-danger">*</span>
                        <input dir="auto" type="text" class="form-control" required name="name_ar"
                        [placeholder]="'general.name_ar' | translate" aria-label="Username"
                               aria-describedby="basic-addon1" [(ngModel)]="data.name_ar" id="name_ar">
                        <ng-container *ngIf="formErrors?.name_ar">
                            <!--     errors will be shown here-->
                            <div class="text-danger" *ngFor="let error of formErrors['name_ar']">
                                {{error}}
                            </div>

                        </ng-container>
                    </div>
                </div>
                <div class="col-lg-6 mb-4" *ngIf="nameOfEnglish">
                    <div class="form-group mb-0">
                        <label class="font-weight-bolder" for="name_en">
                            {{'general.name_en' | translate}} :
                        </label>
                        <span class="text-danger">*</span>
                        <input dir="auto" type="text" class="form-control" name="name_en" required
                               [placeholder]="'general.name_en' | translate" aria-label="Username"
                               aria-describedby="basic-addon1" [(ngModel)]="data.name_en" id="name_en">
                        <ng-container *ngIf="formErrors?.name_en">
                            <!--     errors will be shown here-->
                            <div class="text-danger" *ngFor="let error of formErrors['name_en']">
                                {{error}}
                            </div>

                        </ng-container>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="form-group">
                        <div class="d-flex mb-2">
                            <label class="font-bold font-14 mb-0 text-nowrap">
                                {{'general.from' | translate}} :
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div>
                            <mat-form-field floatLabel="never" class="date-form cursor-pointer" (click)="picker.open()">
                                <input dir="auto" name="start_at" style="cursor:none" readonly matInput [matDatepicker]="picker"
                                       [placeholder]="'setting.usersPage.chooseDate' | translate" [(ngModel)]="data.start_at">
                                <mat-datepicker-toggle matSuffix (click)="picker.open()"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <ng-container *ngIf="formErrors?.start_at">
                            <!--     errors will be shown here-->
                            <div class="text-danger" *ngFor="let error of formErrors['end_at']">
                                {{error}}
                            </div>

                        </ng-container>

                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="form-group">
                        <div class="d-flex mb-2">
                            <label class="font-bold font-14 mb-0 text-nowrap">
                                {{'general.to' | translate}} :
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div>
                            <mat-form-field floatLabel="never" class="date-form cursor-pointer" (click)="picker2.open()">
                                <input dir="auto" style="cursor:none" name="end_at" readonly matInput [matDatepicker]="picker2"
                                       [placeholder]="'setting.usersPage.chooseDate' | translate" [(ngModel)]="data.end_at">
                                <mat-datepicker-toggle matSuffix (click)="picker2.open()"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <ng-container *ngIf="formErrors?.end_at">
                            <!--     errors will be shown here-->
                            <div class="text-danger" *ngFor="let error of formErrors['end_at']">
                                {{error}}
                            </div>

                        </ng-container>

                    </div>
                </div>


                <div class="col-md-3 mb-4 mb-lg-3 d-flex" *ngIf="data?.id">
                    <div class="form-group is_active mb-0 company-status">
                        <label class="font-weight-bolder w-auto" for="">
                            {{"general.status" | translate}}
                        </label>
                        <span class="switch switch-icon">
                            <label class="pointer auto-width" for="isActive"
                                   [class.f-w]="data.status_c">{{"general.active" |
                                translate}}</label>
                            <label class="mx-3 auto-width">
                                <input dir="auto" id="isActive" type="checkbox" name="status"
                                       [(ngModel)]="data.status_c" />
                                <span></span>
                            </label>
                            <label class="pointer auto-width" style="white-space: nowrap" for="isActive"
                                   [class.f-w]="!data.status_c">{{"general.inactive" |
                                translate}}</label>
                            <ng-container>
                                <div class="text-danger"></div>
                            </ng-container>
                        </span>
                    </div>
                </div>

            </div>
        </form>
    </ng-container>

</mat-dialog-content>


<mat-dialog-actions align="center">
    <div class="dailog-actions-btns">
        <button mat-button class="btn btn-primary accept" (click)="submit()" [disabled]="form?.invalid">
            {{data?.id ? ('general.edit' |translate) : ('general.add' |translate)}}
        </button>
        <button mat-button mat-dialog-close class="btn btn-danger">
            {{'setting.cancel' | translate}}
        </button>
    </div>
</mat-dialog-actions>
</div>
