<div class="moveDialog" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

<!-- ____ begin dialog header __________ -->
<div class="d-flex justify-content-between align-items-center dialog-head">
    <h2 class="h4 mb-0 font-weight-bolder">
        {{data?.update ? ("general.edit_Cost_Center" | translate) : ("general.Add_Cost_Center" | translate) }}
    </h2>
   <button 
  type="button"
  (click)="toggleLanguage()"
  class="btn btn-warning">{{language}}</button>
    <i class="fas fa-times text-white" [mat-dialog-close]="false"></i>
</div>
<!-- ____ end dialog header __________ -->
<mat-dialog-content class="m-0">
        <form [formGroup]="form" style="height: 250px;">
            <div class="w-100">
                <div class="row">

                    <div class="col-lg-6 mb-4" *ngIf="nameofArabic">
                        <div class="form-group mb-0 text-right">
                            <label class="font-weight-bolder" for="">
                                {{'setting.usersPage.nameAr' | translate}} 
                            </label>
                            <span class="text-danger">*</span>
                            <input dir="auto" type="text" class="form-control w-100" 
                                [placeholder]="'setting.usersPage.nameAr' | translate" formControlName="name_ar">
                        </div>
                    </div>


                    <div class="col-lg-6 mb-4" *ngIf="nameOfEnglish">
                        <div class="form-group mb-0">
                            <label class="font-weight-bolder">
                                {{'setting.usersPage.nameEn' | translate}} 
                            </label>
                            <span class="text-danger">*</span>
                            <input dir="auto" type="text" class="form-control w-100"
                                [placeholder]="'setting.usersPage.nameEn' | translate" formControlName="name_en">
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4 select-cost">
                        <div class="form-group mb-0">
                            <label class="font-weight-bolder" for="">
                                {{"general.Areas" | translate}}
                            </label>
                            <span class="text-danger">*</span>
                            <!--Using items input-->
                            <ng-select  (change)="selectArea($event,true)" formControlName="cost_center_region_id"
                                [items]="CostCenterAraes" bindLabel="name" bindValue="id"
                                [placeholder]="'general.Areas' | translate" appendTo="body">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4 select-cost">
                        <div class="form-group mb-0">
                            <label class="font-weight-bolder" for="">
                                {{"general.Branches" | translate}}
                            </label>
                            <span class="text-danger">*</span>
                            <!--Using items input-->
                            <ng-select  formControlName="cost_center_branch_id" [items]="CostCenterBranches"
                                bindLabel="name" bindValue="id" [placeholder]="'general.Branches' | translate" appendTo="body">
                            </ng-select>
                        </div>
                    </div>


                    <div class="col-md-6 mb-4 mb-lg-6" *ngIf="this.data.update">
                        <div class="form-group is_active mb-0">
                            <label class="font-weight-bolder">
                                {{"general.status" | translate}}
                            </label>
                            <span class="switch switch-icon">
                                <!-- [(ngModel)]="relative-relation.header.self.fixed.desktop" -->
                                <label class="pointer" for="isActive"
                                    [class.f-w]="statusValue">{{"setting.organization.play" |
                                    translate}}</label>
                                <label class="mx-3">
                                    <input dir="auto" id="isActive" type="checkbox" name="isActive"
                                        formControlName="status" />
                                    <span></span>
                                </label>
                                <label class="pointer" for="isActive"
                                    [class.f-w]="!statusValue">{{"setting.organization.stop" |
                                    translate}}</label>
                                <!-- <ng-container *ngIf="formErrors?.status">
                                    <div class="text-danger" *ngFor="let error of formErrors?.status">
                                        {{error}}</div>
                                </ng-container> -->
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="dailog-actions-btns">
        <!-- [disabled]="!form.valid"  Stop disable button for now -->
        <button mat-button class="btn btn-primary accept" (click)="onSubmit()">
            {{this.data.data ? ('general.edit' |translate) :('general.add' |translate)}}
        </button>
        <button mat-button mat-dialog-close class="btn btn-danger">
            {{'setting.cancel' | translate}}
        </button>
    </div>
</mat-dialog-actions>
</div>
