span {
  color: #181c32;
}

.bg-main {
  background-color: #2288d3;
}

.bg-green {
  background-color: #5dc0a4;
}

.bg-blue {
  background-color: #55a5f7;
}

.bg-bred {
  background-color: #934e56;
  color: #fff;
}

.bg-dblue {
  background-color: #001f3e;
  color: #fff;
}

.bg-dgreen {
  background-color: #084c48;
  color: #fff;
}

.bg-move {
  background-color: #d35bca;
}
