.card {
    margin: 1rem 0px;
    border-radius: 0px !important;

    .card-header {
        background-color: #F7F7F7;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 800;
        color: black;

    }
}

.labels {
    padding: 5rem .5rem;

    p {
        font-size: 16px;
        color: black;
        font-weight: 800;
        margin-bottom: 1.5rem;
    }

    span {
        height: 1.3rem;
        width: 1.3rem;
        display: inline-block;
        margin: 0px 5px;
    }

    .bg-color-one {
        background-color: #EBD27F;
    }

    .bg-color-two {
        background-color: #6EB8D3;
    }

    .bg-color-three {
        background-color: #6DA83C;
    }

    .bg-color-four {
        background-color: #AC6BC2;

    }
    
}