.btn-restrictions {
  border: 2px solid #f1b81c;
  border-radius: 41px;
  min-height: 2.8rem;
  padding: 7px 0px !IMPORTANT;
  color: black;
  background: #f1b81c;
}
.btn-restrictions:hover {
  border: 2px solid #f7f7f7;
  color: white;
  }



