<!-- ____ begin dialog header __________ -->
<div class="moveDialog" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex justify-content-between align-items-center dialog-head">
        <h2 class="h4 mb-0 font-weight-bolder">
        {{ (!data.update ? "setting.currencies.addCurrency" : "setting.currencies.editCurrency") |translate}}
    </h2>
   <button 
  type="button"
  (click)="toggleLanguage()"
  class="btn btn-warning">{{language}}</button>
    <i class="fas fa-times text-white" [mat-dialog-close]="true"></i>
    </div>
<!-- ____ end dialog header __________ -->
    <mat-dialog-content class="m-0" class="mat-typography">
        <div class="w-100 ">
            <form [formGroup]="form">
                <div class="w-100">
                    <div class="row">

                        <div class="col-lg-6 mb-4" *ngIf="nameofArabic">
                            <div class="form-group mb-0 text-right">
                                <label class="font-weight-bolder" for="">
                                    {{'setting.usersPage.nameAr' | translate}} :
                                </label>
                                <span class="text-danger">*</span>
                                <input type="text" dir="rtl" class="form-control w-100" 
                                    [placeholder]="'setting.usersPage.nameAr' | translate" formControlName="name_ar">
                                <ng-container *ngIf="formErrors?.country_id">
                                    <div class="text-danger" *ngFor="let error of formErrors?.name_ar">
                                        {{error}}</div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4" *ngIf="nameOfEnglish">
                            <div class="form-group mb-0">
                                <label class="font-weight-bolder" for="">
                                    {{'setting.usersPage.nameEn' | translate}} :
                                </label>
                                <span class="text-danger">*</span>
                                <input dir="ltr" type="text" class="form-control w-100"
                                    [placeholder]="'setting.usersPage.nameEn' | translate" formControlName="name_en">
                                <ng-container *ngIf="formErrors?.name_en">
                                    <div class="text-danger" *ngFor="let error of formErrors?.name_en">
                                        {{error}}</div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4" *ngIf="nameofArabic">
                            <div class="form-group mb-0">
                                <label class="font-weight-bolder" for="">
                                    {{'setting.currencies.currencysymbolAr' | translate}} :
                                </label>
                                <span class="text-danger">*</span>
                                <input type="text" class="form-control w-100"
                                    [placeholder]="'setting.currencies.currencysymbolAr' | translate"
                                    formControlName="currency_symbol_ar">
                                <ng-container *ngIf="formErrors?.currency_symbol_ar">
                                    <div class="text-danger" *ngFor="let error of formErrors?.currency_symbol_ar">
                                        {{error}}</div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4" *ngIf="nameOfEnglish">
                            <div class="form-group mb-0">
                                <label class="font-weight-bolder" for="">
                                    {{'setting.currencies.currencysymbolEn' | translate}} :
                                </label>
                                <span class="text-danger">*</span>
                                <input dir="ltr" type="text" class="form-control w-100"
                                    [placeholder]="'setting.currencies.currencysymbolEn' | translate"
                                    formControlName="currency_symbol_en">
                                <ng-container *ngIf="formErrors?.currency_symbol_en">
                                    <div class="text-danger" *ngFor="let error of formErrors?.currency_symbol_en">
                                        {{error}}</div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <div class="form-group mb-0">
                                <label class="font-weight-bolder" for="">
                                    {{'setting.currencies.Exchangerate' | translate}} :
                                </label>
                                <span class="text-danger">*</span>
                                <input type="text" class="form-control w-100"
                                    [placeholder]="'setting.currencies.Exchangerate' | translate"
                                    formControlName="rate">
                                <ng-container *ngIf="formErrors?.rate">
                                    <div class="text-danger" *ngFor="let error of formErrors?.rate">
                                        {{error}}</div>
                                </ng-container>
                            </div>
                        </div>


                        <div class="row col-12">
                            <div class="col-md-6 mb-4 mb-lg-6" *ngIf="data.update">
                                <div class="form-group is_active mb-0">
                                    <label class="font-weight-bolder" for="">
                                        {{"general.status" | translate}}
                                    </label>
                                    <span class="switch switch-icon">
                                        <label class="pointer" for="isActive"
                                            [class.f-w]="statusValue">{{"setting.organization.play" |
                                            translate}}</label>
                                        <label class="mx-3">
                                            <input dir="auto" id="isActive" type="checkbox" name="isActive"
                                                formControlName="status" />
                                            <span></span>
                                        </label>
                                        <label class="pointer" for="isActive"
                                            [class.f-w]="!statusValue">{{"setting.organization.stop" |
                                            translate}}</label>
                                    </span>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="center">
    <div class="dailog-actions-btns">
        <button mat-button class="btn btn-primary accept" (click)="onSubmit()">
            {{data.update ? ('general.edit' |translate) : ('general.add' |translate)}}
        </button>
        <button mat-button mat-dialog-close class="btn btn-danger">
            {{'setting.cancel' | translate}}
        </button>
    </div>
</mat-dialog-actions>
