<div class="row justify-content-center mt-5">
    <div class="col-xl-10 col-12">
        <div class="timeline timeline-line-solid">
            <span class="timeline-label"  [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'timeline-label-right' : 'timeline-label-left'">
                <span class="label">April 2018</span>
            </span>
            <div class="timeline-item first">
                <div class="timeline-point timeline-point right"></div>
                <div class="timeline-event">
                    <div class="widget icon-widget has-shadow">
                        <div class="widget-body">
                            <div class="media">
                                <div class="media-left align-self-center">
                                </div>
                                <div class="media-body align-self-center pl-4" [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'text-left' : 'text-right'">
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-right">38 min ago</div>
                </div>
            </div>
            <div class="timeline-item second">
                <div class="timeline-point timeline-point" [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'left' : 'right'" ></div>
                <div class="timeline-event">
                    <div class="widget has-shadow">
                        <div class="alert alert-success" role="alert" [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'text-right' : 'text-left'">
                            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج
                        </div>
                        </div>
                    <div class="time-right">30 March</div>
                </div>
            </div>
            <span class="timeline-label"  [ngClass]="lang.getSelectedLanguage() == 'ar' ? 'timeline-label-right' : 'timeline-label-left'">
                <span class="label bg-primary">Load More</span>
            </span>
        </div>
    </div>
</div>