<section class="section border">
    <!-- ____ begin section header __________ -->
    <header class="section__header p-4 p-lg-5 d-flex align-items-center justify-content-between mb-5">
        <h2 class="h4 mb-0 font-weight-bolder d-flex">
            <i class="fa fa-file-signature mx-2"></i>
            {{"contracts.contracts" | translate}}
        </h2>
        <button (click)="openAddEditContract()" type="button"
            class="btn mx-0 px-5 px-lg-9 btn-shadow btn-primary font-weight-bolder min-w-130px font-size-lg">
            {{"contracts.addContract" | translate}}
        </button>
    </header>

    <!-- ____ begin section body __________ -->
    <div class="section__body p-4 p-lg-7">

        <!-- _______ begin tabel _______ -->
        <ng-container *ngIf="exist_data ; else errorData">
            <div class="section__body__tabel">
                <div class="vc-ag-grid global-data-table" >   
                    <app-ag-grid #agGrid [rowData]="tableItems" [frameworkComponents]="frameworkComponents"
                        [rowColors]="{ even: '#ebf7ff', odd: '#fff' }" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [sideBar]="sideBar" [domLayout]="'autoHeight'" [GlobalTable]="true"
                        [pagination]="true" [pageOptions]="pageOptions" (pageEvent)="pageEvent($event)"
                        (tableStateChange)="tableStateChange($event)"
                        (columnApi)="getColumApi($event)"
                        >
                    </app-ag-grid>
                </div>
            </div>
        </ng-container>
        
        <!-- _______ end tabel _______ -->
    </div>
    <!-- ____ end section body __________ -->
</section>

<ng-template #errorData>
    <app-message-box [messageBox]="messageBoxError"></app-message-box>
</ng-template>