.link-chart {
    margin: 1rem 0px;
    h3 {
        font-size: 1.3rem;
        font-weight: 800;
        color: black;

    }
    p {
        font-size: 12px;
        font-weight: 900;
        margin-bottom: .5rem;
    
    }
    
    .text-color-one {
        color: #5AC4A4;
    }
    
    .text-color-two {
        color: #AC6BC2;
    }
    
    .text-color-three {
        color: #AEC2CB;
    }
}

