<!--begin::Languages-->
<div class="dropdown" ngbDropdown [placement]="placement" [autoClose]="true" #myDrop="ngbDropdown">
  <!--begin::Toggle-->
  <div ngbDropdownToggle class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
      <img class="w-75 h-75 rounded-circle" src="{{ language?.flag }}" alt="language" />
    </div>
  </div>
  <!--end::Toggle-->

  <!--begin::Dropdown-->
  <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
    <div class="drop-head"
      style="background: url('https://v1.viewclass.com/assets/app/media/img/misc/quick_actions_bg.jpg') 0% 0% / cover;">
      <span style="font-size: 14px;">{{"general.Select_Language" | translate}}</span>
    </div>
    <ng-container *ngFor="let lang of languages">
      <div class="drop-lang d-flex align-items-center" *ngIf="selectedLang!==lang.lang"
        (click)="setLanguageWithRefresh(lang.lang)">
        <img [src]="lang.flag" alt="" style="width: 20px;border-radius: 50% !important;">
        <span class="mx-4">{{lang.name}}</span>
      </div>
    </ng-container>
  </div>

</div>
<!--end::Languages-->
