<section class="section px-4 pt-5 mb-5">
    <!-- ____ begin section body __________ -->
    <div class="section__body p-4 p-lg-7">
        <div class="row mb-3">
            <div class="col-md-6 col-lg-4 show-label">
                <mat-form-field class="w-100 mat-field">
                    <small class="mat-field__search-icon">
                        <i class="fas fa-search"></i>
                    </small>
                    <label>
                        <input dir="auto" appDebounceInputChange [debounceTime]="1500"
                        (valueChanged)="onSearchChange($event)" matInput type="text"
                            placeholder="{{'general.search' | translate}}">
                    </label>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-8">
                <button type="button" (click)="openAddEditFile()" 
                    class="btn mx-3 px-5 px-lg-9 btn-shadow font-weight-bolder d-block mr-auto font-size-lg"
                    >{{'general.add' | translate}}
                </button>

            </div>
        </div>
        <!-- ____ end section header __________ -->
        <div class="vc-ag-grid global-data-table" *ngIf="tableItems?.length ; else errorData">
            <app-ag-grid #agGrid [rowData]="tableItems" [frameworkComponents]="frameworkComponents"
                [rowColors]="{ even: '#ebf7ff', odd: '#fff' }" [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef" [domLayout]="'autoHeight'" [GlobalTable]="true" [pagination]="true"
                [pageOptions]="pageOptions" (pageEvent)="pageEvent($event)">
            </app-ag-grid>
        </div>

    </div>
</section>


<ng-template #errorData>
    <app-message-box [messageBox]="messageBoxError"></app-message-box>
</ng-template>